# Untracked files

ignore/**

# compiled source and cached
#*.exe
#*.out
#*.app
#*.class
#*.dll
#*.o
#*.obj
#*.slo
#*.so
__pycache__/
*.py[cod]
*.$py.class
*.gch
*.pch

#*.dylib
#*.mod
#*.smod
#*.lai
#*.la
#*.a
#*.lib
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.pm.tdy
*.bs
cover_db/
_build/
Build
Build.bat
inc/
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
*.utf8.md
*.knit.md
/cache/
*_.cache/


# cached Text files
*~
*#
*.swp
*.swo
*.un~
**/*~
**/*.bak
**/*.sw[abcdefghijklmop]

# packages
#*.7z
#*.dmg
#*.gz
#*.iso
#*.jar
#*.rar
#*.tar
#*.zip

# Images
*.png
*.tiff
*.jpeg
*.jpg


# Logs and databases
#*.log
#*.sqlite

# Model files
#*.dat
#*.INP
#*.srf
#*.x
#*.stomp
#*.2194
#*.top
#*.sij
#*.ucn
#*.hds
#*.ctl
#*.prof
#*.ref

