# Untracked files



ignore/**



# compiled source and cached

#SLL NOTE: there are compiled *.exe files associated with the Kingdom2STOMP, modinput, srcmove, srcavg, and radoccard tools that are ignored

*.exe

*.out

*.app

*.class

*.dll

*.o

*.obj

*.slo

*.so

__pycache__/

*.py[cod]

*.$py.class

*.gch

*.pch



*.dylib

*.mod

*.smod

*.lai

*.la

*.a

*.lib

!Build/

.last_cover_stats

/META.yml

/META.json

/MYMETA.*

*.pm.tdy

*.bs

cover_db/

_build/

Build

Build.bat

inc/

.Rhistory

.Rapp.history

.RData

.Ruserdata

*-Ex.R

/*.tar.gz

/*.Rcheck/

*.utf8.md

*.knit.md

/cache/

*_.cache/





# cached Text files

*~

*#

*.swp

*.swo

*.un~

**/*~

**/*.bak

**/*.sw[abcdefghijklmop]



# packages

*.7z

*.dmg

*.gz

*.iso

*.jar

*.rar

*.tar

*.zip



# Images

*.png

*.tiff

*.jpeg

*.jpg



# Logs and databases

*.log

*.sqlite



# Model files

*.dat

*.INP

#*.pl  need PERL code

*.srf

*.x

*.stomp

*.2194

*.top

*.sij

*.ucn

*.hds

*.ctl

*.prof

*.ref



#SLL Added ignored files....05.20.2019

#config files

*.sh

*.bat

*.csv



#SLL Added ignored files...05.29.2019

*.xml

TTD

*.lay

*.pdf

input

input-orig

toss

srcout.inp

*.srf

*.msg

*.gnu





#word/txt files

*.docx

*.txt



#SLL Added folders

/notused





#_01_CAST--the whole folder until MDW provided direction as to what files to maintain config-control in ICF

_01_CAST/

CAST/



#_02_Kingdom2STOMP--the whole folder until file with code is add to be maintained for config-control in ICF

_02_Kingdom2Stomp/

Kingdom2Stomp/



#_05_ca-modinput folders/files

old/



#07__ca_ret folders/files

CA_RET2STOMP_archive/



#_08_ca-srcmove folders/files

tests/



#_09_ca-srcavg folders/files

* - Copy*.*





#_11_ca_surf folders/files

csv/

input/

log/

grid_attempt1/

*.ftpconfig



#_12_ca-src2stomp folders/files

crash/

last/

old/

praveena - ARC waste sites

pre-ipp/

radlist

Math-Geometry-Planar-1.18/

Math-Geometry-Planar-GPC-1.04/

Math-Geometry-Planar-Offset-1.05/

Math-Polygon-1.10/

YAML-1.23/

install-downloads/





#tools not requiring ICF configuration control as of 05.29.2019

/ca-botflux

/ca-getmodsurfs

#/ca-ipp

/ca-layersurf

/ca-mass_in_model

/ca-modflow2tec

#/ca-modinput

/ca-p2r_slice

/ca-peaked

ca-plotdate

/ca-porvol

ca-radmb

/ca-refnode

/ca-retplot

/ca-setic

/ca-srcplot

/ca-ssgitoccard

/ca-ssoccard



#/ca-surf

/ca-surf2src

/ca-wastesites2gnu

/ca-wastesites2tec

/ca-zprofile